<!DOCTYPE html>
<html lang=“en”>

  <body>
    <header>
      <h1>Penny Patrol</h1> 
      <br>
      <h2>Get Control of Your Money</h2>
      <br>
      <h3>Manage your finances in one place</h3>
      <br>
      <br>
      <br>
      <br>
      <br>
    </header>

    <p>Log in or create an account below:</p>

    <nav>
      <% if logged_in? %>
    
        <a href="/expenses/new"> Add Expense </a>
        <a href="/logout"> Log Out </a>
        <p>Welcome, <%=current_user.username %></p>
    
      <% else %>
        <a href="/login">Log In</a>
        <br>
        <br>
        <a href="/signup">Create Account</a>
      <% end %>
    
    </nav>
  
  </body>
</html>